.navbar {
  background-color: black;
}

.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}
#number-records-nd {
    font-size: 55px;
}
.dc-chart g.row text {
    fill: black;
}
#map{
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.navbar-brand{
  font-size: 3em;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4, h6 {
    margin: 0 0 5px;
    color: #777;
}

.chart-wrapper .chart-stage {
    padding: 10px 10px;
}
